@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


ul,
li {
    list-style: none;
}

span {
    overflow: hidden;
}

a {
    text-decoration: none;
    /* color: #fff; */
    letter-spacing: 2px;
    overflow: hidden !important;
}

.header--navbar {
    width: 100%;
    padding: 0 15px;
    font-family: 'Roboto', serif;
    text-align: center;
}

.header--navbar_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 20px;

}

.header--navbar_list-item {
    line-height: 120%;
    position: relative;
    padding: 5px 15px;
    font-weight: 500;
    cursor: pointer;
    height: 30px;

}

.header--navbar_list-item>div>a {
    color: rgb(255, 255, 255);
    /* z-index: 10; */
}

.header--navbar_list-item>ul {
    position: absolute;
    top: 45px;
    left: 0;
    /* z-index: 2; */
    text-align: left;
    min-width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    display: none;
    transform: translateY(-15px);
    transition: .2s;

}

.header--main.header--fixed .header--navbar_list-item>div>a {
    color: #000 !important;
}

.header--navbar_list-item .submenu {
    transform: translateY(5px);
}

.header--navbar_list-item:hover>ul {
    /* transform: translateY(0); */
    animation: submenu 0.5s forwards;
}

.header--navbar_list-item>ul>li {
    letter-spacing: 0 !important;
    display: block;

}

.header--navbar_list-item:hover>ul {
    width: max-content;
    display: block;


}

.header--navbar_list-item>.link {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.header--navbar_list-item>.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: -100%;
    background-color: rgb(255, 255, 255);
    transition: all .7s ease-in-out;
    z-index: 10;
}

.header--main.header--fixed .header--navbar_list-item>.link::before{
    background: #000;
} 
.header--navbar_list-item:hover>.link::before {
    animation: before 0.7s forwards;
}

@keyframes before {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}



.header--navbar_list-item.has-submenu:hover {
    background-color: #fff;
}

.header--navbar_list-item.has-submenu>.link::before {
    background-color: #000;
}

.header--navbar_list-item.has-submenu:hover a {
    color: #000;

}

.megamenu {
    position: static;
}

.megamenu>.submenu {
    position: absolute;
    left: 0;
    min-width: 100%;
    background: #fff;
    /* display: flex; */
}

.megamenu:hover>.submenu {
    transform: translateY(-3px);
    display: flex;
}

.list--item--submenu {
    width: 100%;
    padding: 30px 0;
    display: none;
    z-index: 10;
    transition: 1s;
    z-index: 0;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 9%);
}

.list--item--submenu {
    z-index: 5;
    transition: all .5s step-end;
    overflow: hidden;
}

.megamenu:hover .list--item--submenu {
    display: block;
    transition: all 1s ease-in;
    /* z-index: 0; */

}

.submenu--items {
    width: 45%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.submenu--items>.submenu-item {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.submenu-item {
    text-align-last: left;
    line-height: 150%;
    vertical-align: top;
    transition: transform 0.5s ease;

}

.submenu-item>li {
    line-height: 200%;
}

.submenu-item>h3 {
    line-height: 200%;
    float: left;
    margin-bottom: 20px;
}

.submenu-item--title {
    font-size: 10px;
    letter-spacing: 1px;
}



.megamenu:hover .submenu--items>.submenu-item:nth-child(1) {
    transform: translateY(30px);
    animation: sss 1s forwards alternate;
    /* animation-delay: .3s; */

}

.megamenu:hover .submenu--items>.submenu-item:nth-child(2) {
    animation: ddd 1s backwards 0.1s alternate
}

.megamenu:hover .submenu--items>.submenu-item:nth-child(3) {
    animation: fff 1s backwards 0.2s alternate
}

.submenu--subitem {
    padding: 15px 5px 5px 0;
    font-size: 13px;
    align-self: start;

}


.submenu--subitem>a {
    font-size: 16px;
    padding: 15px 0;
    font-weight: 500;
    letter-spacing: 1px !important;
}

@keyframes sss {
    0% {
        transform: translateY(40px);
        opacity: .3;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ddd {
    0% {
        transform: translateY(40px);
        opacity: .3;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fff {
    0% {
        transform: translateY(40px);
        opacity: .3;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.list--item:hover .simple--submenu {
    animation: simpleSub 0.5s forwards;
}

@keyframes simpleSub {
    0% {
        top: 30px;
    }

    100% {}
}